@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: $white-color;
}

input {
    font-family: 'Poppins', sans-serif;
}

$headings: ("h1": "3.052rem","h2": "2.441rem","h3": "1.953rem","h4": "1.563rem","h5": "1.25rem","h6": "1rem");

@each $key, $value in $headings {
    #{$key} {
            font-size: #{$value};
            font-weight: 700;
    }
}

@media (max-width: 868px) {
    $headings: ("h1": "2rem","h2": "1.5rem","h3": "1.3rem","h4": "1.2rem","h5": "1rem","h6": "0.85rem");

@each $key, $value in $headings {
    #{$key} {
            font-size: #{$value};
            font-weight: 700;
    }
}

}